{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="shortcut icon" href="{{ asset('bundles/beubidemo/images/logo2.png') }}">
    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">

    <link rel="stylesheet" type="text/css" href="http://labs.abeautifulsite.net/jquery-dropdown/jquery.dropdown.css"/>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"/>

    {% stylesheets filter='cssrewrite'
        'bundles/beubidemo/css/*'
    %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
    {% endstylesheets %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{{ asset('bundles/beubidemo/js/html5shiv.js') }}"></script>
    <script src="{{ asset('bundles/beubidemo/js/respond.min.js') }}"></script>
    <![endif]-->
{% endblock %}

{% block body %}
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top headroom" >
        <div class="container">
            <div class="navbar-header">
                <!-- Button for smallest screens -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('home') }}">
                <div class="row">
                    <div class="col-md-3">
                        <img src="{{ asset('bundles/beubidemo/images/logo2.png') }}" alt="Demo template">
                    </div>
                    <div class="col-md-9">
                        <span style="color: #68be0a; font-size: 22px; margin-left: -16px; ">Ubi</span>Cycling
                        <span style="color: white; font-size: 22px; "></span>
                    </div>
                </div>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">
                    {#{% block home %}<li><a href="{{ path('home') }}">Home</a></li>{% endblock %}#}
                    {% block demo_form %}<li><a href="{{ path('workouts') }}">Workouts</a></li>{% endblock %}

                    {% if feature_is_active('enable_contacts') %}
                        {% block contact %}<li><a href="{{ path('contacts') }}">Contacts</a></li>{% endblock %}
                    {% endif %}
                    {#{% block about %}<li><a href="{{ path('about') }}">About</a></li>{% endblock %}#}
                    {#{% block about %}<li><a href="{{ path('about') }}">About</a></li>{% endblock %}#}
                    {% block signin %}


                    {% endblock %}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
    <!-- /.navbar -->

    {% block content %}

    {% endblock content %}

    <footer id="footer" class="top-space">

        <div class="footer1">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 widget text-center">
                        <h3 class="widget-title">Follow us</h3>
                        <div class="widget-body text-center">
                            <p class="follow-me-icons text-center">
                                <a href="https://www.facebook.com/beubi-107459612625103/"><i class="fa fa-facebook fa-2"></i></a>
                                <a href=""><i class="fa fa-twitter fa-2"></i></a>
                                <a href=""><i class="fa fa-github fa-2"></i></a>
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4 widget text-center">
                        <div class="widget-body">
                            <p>Copyright &copy; <a href="http://www.beubi.com">be.ubi</a></p>
                            <a href="./systeminfo">System Informations</a>
                        </div>
                    </div>

                    <div class="col-md-4 widget text-center">
                        <h3 class="widget-title">Contact</h3>
                        <div class="widget-body">
                            <p>(+351) 234 380 315<br>
                                <a href="mailto:#">contact@beubi.com</a><br>
                                <br>
                            </p>
                        </div>
                    </div>

                </div> <!-- /row of widgets -->
            </div>
        </div>

    </footer>
{% endblock %}

{% block javascripts %}
    <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=&amp;sensor=false&amp;extension=.js"></script>


    <!-- Include all JavaScripts, compiled by Assetic -->
    {% javascripts 'bundles/beubidemo/js/*' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}