{% extends 'BeubiDemoBundle::layout.html.twig' %}
{% block demo_form %}<li class="active"><a href="{{ path('workouts') }}">Workouts</a></li>{% endblock %}
{% block content %}
    <header id="head" class="secondary"></header>
    <!-- container -->
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{{ path('home') }}">Home</a></li>
            <li class="active">System Informations</li>
        </ol>
        <div class="row">
            <!-- Article main content -->
            <article class="col-md-12 maincontent">
                <div class="pull-right">

                </div>
                <header class="page-header">
                    <h1 class="page-title">System Informations</h1>
                </header>
                <ul>
                    <li>Sessions are being handled by {{ session_handler }}</li>
                </ul>
            </article>
        </div>
    </div>
{% endblock %}